button{cursor:pointer;} 

:root {
    --accent-colour: rgb(42, 50, 61);
    --transparent-accent-colour:rgb(42, 50, 61, 0.6);
    cursor: pointer;
  }

.navbar{
    height: 35px;
}

.nav-form {
    height: 25px;
    font: 12px;
}

.nav-form.btn {
    padding-top: 0px;
    padding-bottom: 2px;
    font-size: 15px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

body ::selection {
    background: var(--transparent-accent-colour);
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.navbar {
    background-color: var(--accent-colour) !important;
}

.whereWhat {
    margin-bottom: 0px;
}